#contenthost {
    height: 100%;
    width: 100%;
}
.page header[role=banner] {
    -ms-grid-columns: 37px 83px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
    position: fixed;
}

.page header[role=banner] .win-navigation-backbutton {
    -ms-grid-column: 2;
    margin-top: 57px;
    position: relative;
    z-index: 1;
}

.page header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
}

.page header[role=banner] .titlearea .pagetitle {
    width: calc(100% - 20px);
}

.page section[role=main] {
    -ms-grid-row: 2;
    height: 100%;
}
